/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


html{
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

body{
    background-color: #202020;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
} 

::-webkit-scrollbar {
    width: 16px;
}  
 
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    border: solid 4px #181818;
}

.main-nav::-webkit-scrollbar-thumb{
    border: solid 4px #202020;
}

::-webkit-scrollbar-track {
    background: #181818;
    width: 8px;
    margin: 0 30px;
}
.main-nav::-webkit-scrollbar-track {
    background:#202020;
}

::-webkit-scrollbar-thumb {
    background: #909090; 
}

.main-nav::-webkit-scrollbar-thumb {
    background: transparent; 
}

.main-nav:hover::-webkit-scrollbar-thumb {
    background: #909090; 
}


::-webkit-scrollbar-thumb:active {
    background: #606060; 
}

::-webkit-scrollbar-corner{
    background: #202020;
}

.main-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    z-index: 1;
}

.main-header__container{
    height: 56px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.main-header__container_start{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
}

.main-header__container_center{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex: 0 1 728px;
    -webkit-box-flex: 0;
            flex: 0 1 728px;
    min-width: 0px;
}

.main-header__container_end{
    min-width: 225px;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -ms-flex: none;
    -webkit-box-flex: 0;
            flex: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.guide-button{
    margin-right:16px;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;    
    -webkit-box-sizing: border-box;    
            box-sizing: border-box;
    font-size: 0;
}
.guide-button .main-nav{
    visibility: hidden;
    margin-top: 0;
    margin-left: -16px;
    height: calc(100vh - 48px);
}

.guide-button .button{
    padding: 8px;
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 255, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.button{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-button_guide-icon{
    width: 24px;
    height: 24px;
    color: white;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    vertical-align: middle;
}
.guide-button:active,
.search-box_form_voice-search-button:active,
.main-header__container_end_buttons_net:active,
.main-header__container_end_buttons_dots:active,
.main-content_subtitle_end_img:active{
    border-radius: 100%;
    background-color: #909090;
}

.guide-button .button .guide-button_guide-icon{
    width: 24px;
    height: 24px;
}

.guide-button_guide-icon_svg{
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.guide-button_guide-icon_svg_style{
    -webkit-transform-origin: 0px 0px;
        -ms-transform-origin: 0px 0px;
            transform-origin: 0px 0px; 
    transform-origin: 0px 0px; 
            transform-origin: 0px 0px; 
    fill: white;
}

.logo{
    width: 129px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.logo_button{
    height: 24px;
    width: 80px;
}

.logo_button svg {
    pointer-events: none; 
    display: block; 
    width: 100%; 
    height: 100%;
}


#youtube-paths{
    fill: white;
}

.logo_country-code{
   color: #aaa;
    margin: 0 0 0 2px;
}

.search-box{
    margin: 0 0 0 40px;
    padding: 0 4px;
    -webkit-box-flex: 1;
            flex: 1;
}

.search-box_form{
    -webkit-box-flex: 1;
            flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.search-box_form_container{
    height: 30px;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #121212;
    border: 1px solid #303030;    
    padding: 2px 6px;
    -webkit-box-flex: 1;
            flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.search-box_form_container_input{
    width: 100%;
    display: contents
}

.search-box_form_container_input input{
    padding: 0px; 
    margin: 0px; 
    height: auto; 
    width: 100%; 
    background-color: transparent;
    color: white;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 100%;
    -ms-flex: 1 1 0.000000001px;
    -webkit-box-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 0.000000001px;
        flex-basis: 0.000000001px;
}

.search-box_form_container_input_text{
    width: inherit;
    margin: auto;
}

.search-box_form_container_input_keyboard{
    line-height: 24px;
    vertical-align: middle;
    font-size: 16px;
    padding: 0 2px;
    opacity: 0.8;
    margin: auto;
    -webkit-filter: invert(100%) brightness(1.5);
            filter: invert(100%) brightness(1.5);
}

.search-box_form_container_input_keyboard:hover{
    opacity: 1;
}

.search-box_form_container_input_keyboard a{
    cursor: pointer;
    padding: 0 4px;
    display: inline-block;
}

.search-box_form_container_input_keyboard span{
    display: inline-block;
    height: 11px;
    line-height: 0;
    width: 19px;
}

.search-box_form_search-button{
    height: 30px;
    width: 65px;
    margin: auto;
    border: 1px solid #303030;
    background-color:rgb(49 49 49);;
    border-radius: 0 2px 2px 0; 
    cursor: pointer;
}
.search-box_form_search-button:hover svg{
    fill: rgba(255, 255, 255, 0.5);;
}

.search-box_form_search-button svg{
    fill: #6f6f6f;
}

.search-box_form_search-button_img{
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.6;
    margin: auto;;
}


.search-box_form_voice-search-button_img svg{
    pointer-events: none; 
    display: block; 
    width: 100%; 
    height: 100%;
}

.search-box_form_voice-search-button{
    vertical-align: middle;
    color: inherit;
    background: none;
    margin: auto;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.search-box_form_voice-search-button_img{
    width: 24px;
    height: 24px;
    margin: auto;
}

.main-header__container_end{
    min-width: 225px;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
}

.search-box_form_voice-search-button_img svg{
    fill: white;
}
.main-header__container_end_buttons{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header__container_end_buttons_net, .main-header__container_end_buttons_dots{
    margin-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.main-header__container_end_buttons_net svg, .main-header__container_end_buttons_dots svg{
    width: 24px;
    height: 24px;
    fill: white;
    margin: auto;
    pointer-events: none; 
    display: block;    
}

.main-header__container_end_buttons_login,.main-nav_login_button{
    width: 140px;
    height: 40px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    border: solid 1px rgb(62, 166, 255);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}
.main-nav_login_button{
    width: 149px;
    height: 36px;
    padding: 5px 15px;
    margin-top: 12px;
}

.main-header__container_end_buttons_login_link,.main-nav_login_button_link{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: inherit;
    border-radius: inherit;
    text-decoration: none;
}

.main-header__container_end_buttons_login_link_icon, .main-nav_login_button_link_icon{
    width: 24px;
    height: 24px;
}

.main-header__container_end_buttons_login_link_icon svg,.main-nav_login_button_link_icon svg{
    fill:  rgb(62, 166, 255);
  pointer-events: none; 
  display: block; 
  width: 100%; 
  height: 100%;
}

.main-header__container_end_buttons_login_link_text,.main-nav_login_button_link_text{
    color: rgb(62, 166, 255);
    font-size: 14px;
    font-family: "Roboto", monospace;
    font-weight: 500;
}

.main-nav_login_button_link_text{
    margin-left: 8px;
}

.main-nav{
    width: 240px;
    min-width: 240px;
    height: calc(100vh - 56px);
    position: fixed;
    margin-top: 56px;
    background-color: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: scroll;
    text-decoration: none;
}

.narrow{
    display: none;
}

.main-nav.narrow{
    width: 72px;
    min-width: 72px;
    overflow:hidden;
}

.main-nav_top{
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.narrow .main-nav_top{
    border-bottom:0px
}

.main-nav_lib,.main-nav_best,.main-nav_chanels,.main-nav_more,.main-nav_settings{
    width: 100%;
    padding: 8px 0; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.img-with-text{
    height: 40px;
    width: 100%;    
    padding: 0 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;    
    justify-content: flex-start;    
            justify-content: flex-start;    
}

.narrow .img-with-text {
    height: 72px;
    padding: 16px 0 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}


.img-with-text_text span{
    font-weight: 400;
    text-decoration: none;
}

.narrow .img-with-text_text span{
    font-size: 10px;
    font-weight: 400;
    height: 14px;
    line-height:14px;
    color: #aaa;
}

.narrow .img-with-text:active span, .narrow .img-with-text:hover span,
.narrow .img-with-text:focus span{
color: white;
}

.narrow .img-with-text:active svg, .narrow .img-with-text:hover svg,
.narrow .img-with-text:focus svg{
    fill: white;
}

.img-with-text:hover,.img-with-text:active,.img-with-tex:focus{
    background-color: #4f4f4f;
    text-decoration: none;
}

.img-with-text:hover svg,.img-with-text:active svg,.img-with-tex:focus svg{
    fill: white;
}

.img-with-text_text:hover span{
    text-decoration: none;

}

.img-with-text_img{
    height: 24px;
    width: 24px;
    margin-right: 24px;
}

.narrow .img-with-text_img{
    margin-right: 0;
}

.img-with-text_img svg{
    fill: #909090;
}

.img-with-text_img img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.img-with-text_text{
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.main-nav_login{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    flex-direction: column; 
            flex-direction: column; 
    color: white;
    width: 100%;
    padding: 16px 32px; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-nav_login p{
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
}

.main-nav_best h3,.main-nav_more h3{
    color: rgb(170, 170, 170);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 24px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
}

.main-nav_info a{
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.main-nav_info_primary,.main-nav_info_secondary{
    padding: 16px 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-nav_info_primary a,.main-nav_info_secondary a{
    margin-right: 8px;
}

.copyright{
    width: 100%;
    padding: 16px 24px;
    display:inline;
    color: #717171;
    font-size: 13px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
   

.main-content{
    width: 100%;
    margin-top: 56px;
    margin-left: 240px; 
    background-color: #181818;   
}

.main-content > .main-content_grid:not(:first-child)
{
    margin: 0 auto auto;
}

.main-content_grid{
    width: 90%;
    margin: 24px auto auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack:start;
                -ms-flex-pack:start;
                    justify-content:flex-start;
    z-index: -1;
}

.main-content_grid_elem{
    margin: 0 8px 40px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: calc(25% - 16px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.additional{
    display: none;
}

.main-content_grid_elem_img{
    width: 100%;
    position: relative;
    display: block;
}

.main-content_grid_elem_img img{
    width: 100%;
}

.main-content_grid_elem_img_time{
    height: 18px;
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: white;
    background-color: black;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 4px;
    margin: 4px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.main-content_grid_elem_img_to-watch,.main-content_grid_elem_img_add-to-watch{
    height: 28px;
    width: 28px;
    border-radius: 10%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black; 
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.main-content_grid_elem_img_to-watch{
    top: 4px;
    right: 4px;
}

.main-content_grid_elem_img_add-to-watch{
    top: 36px;
    right: 4px;
}

.main-content_grid_elem_img_to-watch svg,.main-content_grid_elem_img_add-to-watch svg{
    width: 24px;
    height: 24px;
    fill: white;
}
.main-content_grid_elem:hover .main-content_grid_elem_img_time{
    opacity: 0;
}
.main-content_grid_elem:hover .main-content_grid_elem_img_to-watch,
.main-content_grid_elem:hover .main-content_grid_elem_img_add-to-watch{
    visibility: visible;
    opacity: 0.9;
}

.main-content_grid_elem_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.main-content_grid_elem_info_logo{
    min-width: 36px;
    width: 36px;
    margin-top: 12px;
    margin-right: 12px;   
}

.main-content_grid_elem_info_logo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}
.main-content_grid_elem_info_text{
    margin-top: 12px;   
    width: calc(100% - 72px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.main-content_grid_elem_info_text_title{
    max-width: 100%;
 padding-right: 24px;
}

.main-content_grid_elem_info_text_title h3{
    width: 100%;
    max-height: 44px;
    overflow: hidden;
    display: block;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.main-content_grid_elem_info_text_author{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-content_grid_elem_info_text_author p,.main-content_grid_elem_info_text_meta p{
    color: #aaa;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.main-content_grid_elem_info_text_author:hover p{
    color: white;
}

.main-content_grid_elem_info_text_author_icon{
    width: 13px;
    min-width: 13px;
    fill: #aaa;
}

.main-content_grid_elem_info_dots{
    width: 24px;
    min-width: 24px;
    margin-top: 12px;
}

.main-content_grid_elem_info_dots svg{
    fill:#181818; 
}

.main-content_grid_elem_info_dots:hover svg{
    fill: white;
}

.main-content_grid_elem:hover .main-content_grid_elem_info_dots svg{
    fill:#aaa;
}

.main-content_subtitle {
    width: 90%;
    height: 72px;  
    margin: auto;      
    display: -webkit-box;      
    display: -ms-flexbox;      
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 4px solid rgba(255, 255, 255, 0.1);
}
.main-content_line{
    width: 90%;
    border-top: 4px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 24px ;
}

.main-content_subtitle p{
    margin: auto 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;    
    line-height: 24px;
    color: white;
    text-align: left;
}

.main-content_subtitle_end{
    width: 90%;
    height: 40px;  
    margin: auto auto 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}

.main-content_subtitle_end:hover{
    background-color: #4f4f4f;
}

.main-content_subtitle_end_img{
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-content_subtitle_end_img svg{
    width: 24px;
    fill: #909090;
}

.main-content_subtitle_end:hover .main-content_subtitle_end_img svg{
    width: 24px;
    fill: white;
}


button{
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    -o-border-image: initial;
       border-image: initial;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 1300px)  {
    .main-content_grid_elem{
        width: calc(33% - 16px);
    }
    .additional{
        display: block;
    }
    .guide-button:hover .main-nav,.guide-button:active .main-nav{
        visibility: visible;
    }
    
    .main-content{
        margin-left: 72px; 
    }
    .narrow{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .wide{
        display: none;
    }

    .search-box{
        margin: 0;
    }
}

@media only screen and (max-width: 950px)  {
    .main-content_grid_elem{
        width: calc(50% - 16px);
    }
    .additional{
        display: none;
    }
}

@media only screen and (max-width: 600px)  {
    .main-content{
    margin-left: 0;
    }
    
    .narrow,.wide{
        display: none;
    }

    .main-header__container{
        padding: 0 8px;
    }

    .guide-button {
        margin-right: 4px;
    }

    .main-header__container_center{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .main-content_grid_elem{
        width: 100%;
    }

    .search-box{
        margin: 0;
        padding: 0;
    }

    .search-box_form_container{
        display: none;
    }

    .search-box_form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }

    .search-box_form_search-button {
        width: 40px;
        height: 40px;
        margin: 0;
        border: 1px solid #202020;
        background-color: #202020;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
    }

    .search-box_form_search-button_img{
        opacity: 1;
        width: 24px;
        height: 24px;
    }
        
    .search-box_form_search-button svg {
        fill: white;
    }

    .search-box_form_voice-search-button{
        margin: 0;
    }

    .main-header__container_end_buttons_net, .main-header__container_end_buttons_dots{
        margin:0;
    }
}


@media only screen and (max-device-width: 1300px)  {
    .main-content_grid_elem{
        width: calc(33% - 16px);
    }
    .additional{
        display: block;
    }
}


@media only screen and (max-device-width: 950px)  {
    
    .guide-button:hover .main-nav,.guide-button:active .main-nav{
        visibility: visible;
    }
    
    .main-content{
        margin-left: 72px; 
    }
    .narrow{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .wide{
        display: none;
    }

    .search-box{
        margin: 0;
    }

    .main-content_grid_elem{
        width: calc(50% - 16px);
    }
    .additional{
        display: none;
    }
}

@media only screen and (max-device-width: 600px)  {
    .main-content{
        margin-left: 0;
    }
        
    .narrow,.wide{
        display: none;
    }

    .main-header__container{
        padding: 0 8px;
    }

    .guide-button {
        margin-right: 4px;
    }

    .main-header__container_center{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .main-content_grid_elem{
        width: 100%;
    }

    .search-box{
        margin: 0;
        padding: 0;
    }

    .search-box_form_container{
        display: none;
    }

    .search-box_form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }

    .search-box_form_search-button {
        width: 40px;
        height: 40px;
        margin: 0;
        border: 1px solid #202020;
        background-color: #202020;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
    }

    .search-box_form_search-button_img{
        opacity: 1;
        width: 24px;
        height: 24px;
    }
        
    .search-box_form_search-button svg {
        fill: white;
    }

    .search-box_form_voice-search-button{
        margin: 0;
    }

    .main-header__container_end_buttons_net, .main-header__container_end_buttons_dots{
        margin:0;
    }
}
